.quiz-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  height: 240px;
  margin: 10px auto;
  border: 0.5px solid black;
  border-radius: 20px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button {
  margin: 0.75rem;
}
.correct-answer {
  color: green;
}

.incorrect-answer {
  color: red;
}
